* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkblue;
}
button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
}
button {
  background-color: transparent;
  padding: 15px 45px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 1s;
  position: relative;
  overflow: hidden;
}

.realbutton {
  position: absolute;
  top: 3px;
  right: 3px;
  left: 3px;
  bottom: 3px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  position: absolute;
  right: 40px;
  left: 40px;
  top: -90px;
  bottom: -90px;
  background-color: #ff22bb;
  animation-name: around;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

button:hover {
  background-color: #ff22bb;
  box-shadow: 0px 0px 50px 20px #ff22bb;
}
button:hover .but {
  background-color: #ff22bb;
}
button:hover .button-real {
  background-color: #ff22bb;
}

@keyframes around {
  to {
    transform: rotate(360deg);
  }
}
